.producto {
    font-family: 'Times New Roman', Times, serif;
    width: 30%;
    text-align: center;
    color: #715138;
    margin-bottom: 20px;
}

;

link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px #a8723c solid;
    padding: 5px 15px 5px 15px;
    margin: 15px;
    transition-duration: 0.5s;
    transition-property: all;
    color: #715138;
    cursor: pointer;
}

link:hover {
    background-color: #a8723c;
    color: #715138;
}